<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gutzytri.www" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    
    <name>Gutzy Tri</name>
    <description>Gutzy's Tri Harder</description>
    <author email="phil@rpmentr.com" href="http://www.gutzytri.com/team">Phil Montalbano</author>

    <preference name="phonegap-version" value="3.7.0" />
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation"	value="default" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="fullscreen" value="true" />
	<preference name="exit-on-suspend"	value="True" />
	
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />

	<icon src="icon.png" />
	
    <icon src="res/icons/android/drawable-ldpi/icon-36-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icons/android/drawable-mdpi/icon-48-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icons/android/drawable-hdpi/icon-72-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icons/android/drawable-xdpi/icon-96-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="res/icons/android/drawable-xxdpi/icon-144-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	
    <gap:splash src="splash.png" />
    
    <gap:splash src="res/screen/android/drawable-ldpi/splash.png"  gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="res/screen/android/drawable-mdpi/splash.png"  gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="res/screen/android/drawable-hdpi/splash.png"  gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="res/screen/android/drawable-xdpi/splash.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="res/screen/android/drawable-fr-xdpi/splash.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
	<gap:splash src="res/screen/android/drawable-port-xxdpi/splash.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
	<gap:splash src="res/screen/android/drawable-land-xxdpi/splash.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
    
    <content src="http://www.gutzytri.com/team/mobileapp/" />
    <access origin="*" subdomains="true" />
</widget>
